

*,
*::before,
*::after{
    box-sizing: border-box;
}

/*Custom Properties*/

:root{
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-regular:200;
    --fw-bold:900;

    --clr-light: #fff;
    --clr-dark: #545454;
    --clr-accent: #ffd319;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 900px){
    :root {
        --fs-h1: 4rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}



/* General styles */
html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold) }

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


.section__title{
    margin-bottom: .25em;
}

.section__title--intro{
    font-weight: var(--fw-regular);
}

.section__title--intro strong{
    display: block;
}

.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

/*Nav Section*/

header {
    display: flex;
    justify-content: space-between;
    background-color:#111;
}

.logo{
    text-align: center;
    margin: auto 6em;
    font-family: var(--ff-secondary);
    color: var(--clr-accent);
}
.nav_list {
    list-style-type: none;
    margin: 0 6em;
    padding: 0;
    overflow: hidden;
    background-color:#111;
}

.nav_list_item {
    float: left;
}

.nav_list_item_link {
    display: block;
    color: var(--clr-accent);
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
}

.nav_list_item_link:hover{
    background-color: var(--clr-accent);
    color: var(--clr-dark);
}

/*Intro Section*/

.intro {
    position: relative;
    margin: 0  auto;
}

.intro__img {
    box-shadow: var(--bs);
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px){
    .intro {
        display: grid;
        width: min-content;
        grid-column-gap: 1em;
        grid-template-areas: 
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;


    }
    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;

    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1/2;
        grid-row: 2;
        text-align: right;
        position: relative;
        padding-right: 1.15em;
        left: -2em;
        width: calc(100% + 3em);
    }
}

/* Services Section*/
.my-services {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    background-image: url(../img/aleks-dorohovich-nJdwUHmaY8A-unsplash.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}
.section__title--services::after {
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: currentColor;
    opacity: 0.25;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}
@media (min-width: 900px){
    .services{
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
    }

    .service + .service {
        margin-left: 2em;
    }
}

/*About Me Section*/

.about-me {
    max-width:  1000px;
    margin: 0 auto;
    
}

.about-me__image {
    box-shadow: var(--bs);
}
@media (min-width: 600px){
 .about-me{
     display: grid;
     grid-template-columns: 1fr 200px;
     grid-template-areas: 
     "title img"
     "subtitle img"
     "text img";
     grid-column-gap: 2em ;

 }
 .section__title--about{
     grid-area: title;
 }

 .section__subtitle--about{
     grid-column: 1/-1;
     grid-row: 2;
     position: relative;
     left: -1em;
     width: calc(100% + 2em);
     padding-left: 1em;
     padding-right: calc(200px + 4em);

 }
 .about-me__image{
     grid-area: img;
     z-index: 2;
     position: relative;
     
 }
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

/*Footer*/

.footer{
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;

}

.footer a {
    color: inherit;
    text-decoration: none;
    font-size: var(--fs-h3);

}


.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-lists__link:hover{
    opacity: 0.7;
}

.footer__link:hover{
    text-decoration: underline;
}

.social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0;
    padding: 0;
}

.social-list__items {
    margin: 0 5em;
}

.social-lists__link{
    margin: 0.5em;
}

/*My work*/

.my-work{
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.portfolio {
    display: grid;
    
    grid-template-columns: repeat(5,minmax(300px,1fr));
}

.portfolio__item {
    background: var(--clr-accent);
    overflow: hidden;

}

.portfolio__img{
    transition: 
        transform 750ms cubic-bezier(.5,0,.5,1),
        opacity 250ms linear;
    
}

.portfolio__img:hover{
    transform: scale(1.2);
    opacity: 0.75;
}

/*Services Page*/

.services-item{
    margin: 2em auto;
    display: flex;
    width: 60%;
    border: 1px solid black;
}

.services-link{
    text-decoration: none;
    color: var(--ff-primary);
    
}
.services-title{
    width: 100%;
    display: inline-block;
    margin: 0em auto;
    text-align: center;
}

.services-item__title{
    font-size: 1.5em;
    font-weight: var(--fw-bold);
}

.services-item__image{
    padding: 1em 1em;
    max-width: 35%;
    display: flex;
}

.services-item__content{
    margin: 0em auto;
    display: inline;
}

.service-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.service-item-individual img{
    padding: 0 2em 2em;
    max-width: 300px;
    margin: 0 auto;
}

.service-item-individual p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.service-item-individual__plan-title,
.service-plans{
    text-align: center;
    margin: 0.5em 2em;
}
.plan-compare{
    text-align: center;
    margin: 0.5em auto;
}
/*Comparison Table*/
.dev-plans{
    margin: 0 auto;
    text-align: center;
}
.dev-plans__table table {
    margin: 2em auto;
    border: 1px solid black;
    font-size: 14px;
    width: 75%;
    line-height: 21px;
}
.dev-plans__table  tr:nth-child(even) {background-color: #f2f2f2;} 
.dev-plans__table tr th {
    color: #7a7d85;
    font-weight: 400;
    text-align: left;
    padding: 12px 16px;
    vertical-align: text-top;
}

.dev-plans__table tr.package-type td {
    padding-top: 24px;
    position: relative;
}



.dev-plans__table .boolean-pricing-factor::after {
    content: "\f00c";
    color: #dadbdd;
    font-family: FontAwesome;
}

.dev-plans__table .boolean-pricing-factor.included::after {
    color: #1dbf73;
}

/*Contact Form*/
.contact-me__title{
    text-align: center;
    margin: 2em 2em;
}
.contact-form {
    width: 75%;
    margin:  0 auto;
}
.contact-form input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
      }
      .contact-form label {
        padding: 12px 12px 12px 0;
        display: inline-block;
      }

    .contact-form  input[type=submit] {
        background-color: var(--clr-accent);
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
      }

      .contact-form input[type=submit]:hover {
        background-color: #45a049;
      }

      .contact-form .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      }

     .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
      }
      .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
      }
       .row:after {
        content: "";
        display: table;
        clear: both;
      }
      @media screen and (max-width: 600px) {
        .col-25, .col-75, input[type=submit] {
          width: 100%;
          margin-top: 0;
        }
      }
